/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  :root{
    /* Primary */
    --Light_Cyan: hsl(193, 38%, 86%);
    --Neon_Green: hsl(150, 100%, 66%);

    /* Neutral */
    --Grayish_Blue: hsl(217, 19%, 38%);
    --Dark_Grayish_Blue: hsl(217, 19%, 24%);
    --Dark_Blue: hsl(218, 23%, 16%);

  }

  *{
    font-family: 'Manrope', sans-serif;
  }

  body{
    background-color: var(--Dark_Blue);
    display: grid;
    place-items: center;
    min-height: 100vh;
  }

  main{
    background-color: var(--Dark_Grayish_Blue);
    border-radius: 20px;
    padding: 20px;
    min-width: 30vw;
    min-height: 15vw;

    text-align: center;
  }

  p{
    color: var(--Neon_Green);
  }

  h1{
    color: var(--Light_Cyan);
  }

  button{
    background-color: var(--Neon_Green);
    border: none;
    border-radius: 100%;
  }

.attribution {
    font-size: 11px;
    text-align: center;

    position:fixed;
    right:0;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}